{:deps {io.github.nextjournal/clerk {:git/sha "4013c56d4aa5e1645612d75178586913f741434d"}}
 :aliases {:dev {:extra-paths ["dev"]}
           :nextjournal/clerk {:exec-fn nextjournal.clerk/build!
                               :exec-args {:index "index.clj"
                                           :compile-css true
                                           :ssr true}}}}
